<section>
	<form id="year_form" class="boxed">
		<div class="field">
			<label for="year">Academic year:</label>
			<input type="number" id="year" name="year" autocomplete="off" required>
		</div>
		<div class="field">
			<input class="big-button" type="submit" value="Go to year">
		</div>
	</form>
</section>
<section>
	<table class="list wide">
		<thead>
			<tr>
				<th scope="col">Course ID</th>
				<th scope="col">Course Name</th>
				<th scope="col">Exam ID</th>
				<th scope="col">Exam Date</th>
				<th scope="col">Go to Registration</th>
			</tr>
		</thead>
		<tbody id="exams_tbody">
		</tbody>
	</table>
</section>
