<section>
	<form class="boxed" id="loginForm">
		<div class="field">
			<label for="person_code">Person Code:</label>
			<input class="exapand" type="text" id="person_code" name="person_code" autocomplete="username" required>
		</div>
		<div class="field">
			<label for="password">Password:</label>
			<input class="exapand" type="password" id="password" name="password" autocomplete="password" required>
		</div>
		<div class="field">
			<label for="all_day">Keep me logged in for the whole day</label>
			<div class="expand">
				<input type="checkbox" id="all_day" name="all_day" value="true">
			</div>
		</div>
		<div class="field">
			<input class="big-button" type="submit" value="login">
		</div>
		<div id="login_error" class="error"></div>
	</form>
</section>
