<section>
	<a class="data-link" href="records">Show Records</a>
</section>
<section>
	<table class="list">
	<thead>
		<tr id="registrations_headers_trow">
		</tr>
	</thead>
	<tbody id="registrations_tbody">
	</tbody>
	</table>
</section>
<section>
	<div>
		<label class="btn" for="modal-1">Multiple insert</label>
	</div>
</section>
<section>
	<div class="row">
		<form id="publish_form">
			<div class="field">
				<input id="publish_submit" type="submit" value="Publish">
			</div>
		</form>
		<form id="submit_button">
			<input type="hidden" name="examId" th:value="${exam.id}">
			<div class="field">
				<input id="verbalize_submit" type="submit" value="Verbalize">
			</div>
		</form>
	</div>
</section>
<div class="modal">
	<input class="modal-open" id="modal-1" type="checkbox" hidden>
	<div class="modal-wrap" aria-hidden="true" role="dialog">
		<label class="modal-overlay" for="modal-1"></label>
		<div class="modal-dialog">
			<div class="modal-header">
				<h2>Multiple insert </h2>
				<label class="btn-close" for="modal-1" aria-hidden="true">×</label>
			</div>
			<div class="modal-body">
				<form id="multiinsert_form">
					<table class="list">
						<thead>
							<tr>
								<th scope="col">Student ID</th>
								<th scope="col">Name</th>
								<th scope="col">Surname</th>
								<th scope="col">Result</th>
								<th scope="col">Grade</th>
								<th scope="col">Laude</th>
							</tr>
						</thead>
						<tbody id="multiinsert_tbody">
						</tbody>
					</table>
				</form>
				<div id="edit_error" class="error"></div>
			</div>
			<div class="modal-footer">
				<label id="multiinsert_submit" class="btn btn-primary" for="modal-1">Submit</label>
			</div>
		</div>
	</div>
</div>
